html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #5C5863;
    color: #fff;
}

ul {
    list-style-type: none;
    margin-top: 4%;
}

.list-group-item {
    color: #5C5863;
    transition: all .2s ease-in-out;
}

.container-fluid {
    margin: 1% auto;
}

.title {
    margin-left: 10%;
    margin-right: 5%;
    display: inline;
}

#head {
    text-align: center;
}

#searchForm {
    margin: 1%;
}

#addToList, #removeFromList {
    display: none;
    float: right;
    transition: all .2s ease-in-out;
}

#addToList:hover, #removeFromList:hover {
    transform: scale(1.5);
}

.hit:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}

.hit:hover #addToList, .hit:hover #removeFromList{
    display: inline;
}
#totalCal {
    font-size: 16px;
}

#no-results {
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
}

#clear-selection {
   transition: all .2s ease-in-out;
}

#clear-selection:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#clear-selection:hover:after {
    content: 'Clear all';
    position: absolute;
    color: #fff;
    font-size: 12px;
    left: 30px;
    bottom: 0;
}