html, body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
}

.container-fluid {
    margin: 1% auto;
}

#head {
    text-align: center;
}
#hits {
    background-color: aquamarine;
}

#selection {

    background-color: #c10f26;
}

#searchForm {
    margin: 1%;
}